@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User))
{
    <div >
        <form id="logoutForm" asp-action="LogOff" class="row col-m-12 align-content-md-between" method="post" asp-controller="Account">
            <div class="text-decoration-none p-1 nav-link text-dark">Hello @User.Identity.Name</div>
            @*<a asp-action="LogOff" asp-controller="Account" class="text-decoration-none p-1 nav-link text-dark">Logout</a>*@
            <a href="javascript:document.getElementById('logoutForm').submit()" class="text-decoration-none p-1 nav-link text-dark">Logout</a>
        </form>
    </div>
}
else
{
    <div class="row col-m-12 align-content-md-between">
        <a asp-action="Login" asp-controller="Account" class="text-decoration-none p-1 nav-link text-dark">Login</a>
        <a asp-action="Register" asp-controller="Account" class="text-decoration-none p-1 nav-link text-dark">Register</a>
    </div>
}