@model string


<link rel="stylesheet" href="~/css/privateChat.css" />
    <script src="~/js/signalr.js"></script>
    <script src="~/js/privateChat.js"></script>

<h3 id="receiverName" hidden>@Model</h3>
@*<script src="~/lib/signalR/dist/browser/signalr.js"></script>*@

@*<script src="~/js/chat.js"></script>*@
<div class="container ">
    <div class="">
        <div class="chat ">

            <div class="chat-texts" id="allMessages">


            </div>


            <div class="send-message">
                <div class="message-text">
                    <input type="text" id="messageInput" placeholder="Send Message">
                </div>
                <button class="chat-btn" id="sendBTN" onclick="sendPrivateMessage();"><i class="lni lni-arrow-right-circle"><i class="bi bi-send-fill"></i></i></button>
            </div>




        </div>
    </div>
</div>